.list-group{
    list-style: none;
}

.list-group li{
    margin: 5px;
}

#colorDemo{
    width: 100%;
    height: 80px;
    text-align: center;
}

.left-from-group{
    text-align: right;
}

h1{
    display:inline;
}

#currentColor{
    margin:5px;
    width:35px;
    height:35px;
}

#status{
    float:right;
}

.config-btn-col{
    padding-left: 0px;
}

.list-btn-col{
    padding-right: 0px;
}

@font-face {
    font-family: 'IcoMoon-Free';
    src: url('/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-equalizer::before {
    content: "\e992";
}