body {
    color: #CCC;
    background-color: #222;
}
.list-group li {
    list-style: none;
}
.btn-default {
    background-image: linear-gradient(to bottom,#333 0,#222 100%);
    border-color: #333;
}